* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #f5f8f9;
    font-family: 'Open Sans', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hide {
    display: none;
}

button {
    border: 1.3px solid #999;
    padding: 5px 15px;
    border-radius: 3px;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.wrapper {
    width: 1200px;
    max-width: 100%;
    margin: 70px auto;

    .section {
        background-color: #fff;
        padding: 35px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        min-height: 600px;
        & > div {
            display: none;
            position: relative;
            h2 {
                color: #727e87;
                font-weight: 400;
                margin-bottom: 25px;
            }
            &.active {
                display: block;
            }
        }
        .section__user-info {
            .inner-row {
                display: inline-block;
                margin-bottom: 2px;
                p {
                    display: inline-block;
                    background-color: #f5f8f8;
                    padding: 10px;
                    margin-right: -4px;
                    i {
                        color: #a6b8c5;
                        margin-right: 5px;
                    }
                }
                button {
                    display: inline-block;
                    border: 0;
                    background-color: #ecf1f4;
                    color: #727f8a;
                    height: 42px;
                    vertical-align: top;
                    border-radius: 0;
                    margin-left: -2px;
                    font-size: 20px;
                    &:hover {
                        background-color: #007ee5;
                        color: #fff;
                    }
                    &:focus{
                        background-color: #007ee5;
                        color: #fff;
                    }
                }
            } 

            .section__user-name {
                p {
                    font-weight: 600;
                    font-size: 16px;
                }
            }

            .section__pop-up {
                position: absolute;
                padding: 20px;
                box-shadow: -2px 0 15px rgba(0,0,0,.3);
                background-color: #fff;
                z-index: 5;
                .pop-up-title {
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 11px;
                    color: #B8C0C4;
                }
                input {
                    min-width: 220px;
                    margin-bottom: 15px;
                    border: 0;
                    border-bottom: 1px solid #D3DEE9;
                    font-size: 16px;
                    padding: 7px 0;
                }
                &:before {
                    content: "";
                    width: 18px;
                    height: 18px;
                    background-color: #ffffff;
                    position: absolute;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    left: -8px;
                    top: 21px;
                    box-shadow: -4px 2px 9px rgba(0,0,0,0.2);
                }
                &:after {
                    content: "";
                    width: 22px;
                    height: 22px;
                    background-color: #ffffff;
                    position: absolute;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    left: -8px;
                    top: 19px;
                }

                .pop-up-buttons {
                    .save {
                        border: 1.3px solid #007de5;
                        background-color: #007de5;
                        color: #fff;
                        padding: 5px 21px;
                        font-size: 10px;
                        font-weight: 600;
                    }
                    .cancel {
                        border: 1.3px solid #007de5;
                        color: #007de5;
                        background-color: #fff;
                        padding: 5px 21px;
                        font-size: 10px;
                        font-weight: 600;
                    }
                }
            }

            .mobile-form {
                @media screen and (min-width: 801px) {
                    display: none;
                }

                position: absolute;
                background-color: #fff;
                top: 40px;
                left: 0;
                width: 100%;
                height: 95%;
                
                label {
                    display: block;
                    color: #C4CACF;
                    font-size: 12px;
                }
                
                input {
                    display: block;
                    height: 15px;
                    padding: 10px 0;
                    font-size: 18px;
                    border: 0;
                    border-bottom: 1px solid #D2DDE8;
                    width: 100%;
                    margin-bottom: 15px;
                }

                .mobile-form__pop-up-buttons {
                    position: absolute;
                    right: 0;
                    top: -35px;
                    button {
                        color: #167fe5;
                        background-color: #fff;
                        border: 0;
                        font-weight: normal;
                        padding: 0 12px;
                        font-size: 12px;
                    }
                }
            }

            .mobile-edit {
                border: 0;
                background-color: #ecf1f4;
                color: #727f8a;
                vertical-align: top;
                border-radius: 0;
                margin-left: -2px;
                font-size: 17px;
                position: absolute;
                right: 0;
                top: 0;
                padding: 5px 10px;
                height: 30px;
                @media screen and (min-width: 801px) {
                    display: none;
                }
            }
        }
    }

    .header {
        background-color: #fff;
        margin: 0 0 20px;
        .header__followers {
            position: absolute;
            right: 20px;
            bottom: -64px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: 10;
            .follower-caption {
                border: 1px solid #dfdfdf;
                background-color: #fff;
                position: absolute;
                top: -45px;
                padding: 10px;
                font-size: 14px;
                border-radius: 4px;
            }
            p {
                display: inline-block;
                vertical-align: middle;
                font-size: 13px;
                color: #a8afb5;
                font-weight: 400;
                .followers__number {
                    color: #3f454a;
                    font-size: 14px;
                    font-weight: 600;
                    margin-right: 2px;
                }
            }
            i {
                color: #a6afb5;
                font-size: 24px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                cursor: pointer;
                -webkit-transition: all 0.4s;                    
                -moz-transition: all 0.4s;                    
                -o-transition: all 0.4s;                    
                -ms-transition: all 0.4s;                    
                transition: all 0.4s;                    
                &:hover {
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
             
        }
        .header__user-main {
            padding: 20px;
            height: 220px;
            position: relative;

            .pop-up-log {
                border: 1px solid #dfdfdf;
                background-color: #fff;
                position: absolute;
                top: 57px;
                right: 18px;
                padding: 10px;
                font-size: 14px;
                border-radius: 4px;
            }

            .header__user-profile-img {
                float: left;
                width: 180px;
                height: 180px;
                background-position: top center;
                background-size: 143%;
                position: relative;
                bottom: -98px;
                box-shadow: 0 0 15px rgba(0,0,0,0.2);
            }
            
            .header__user-info {
                float: left;
                position: relative;
                top: 125px;
                left: 20px;
                .header__user-name {
                    font-size: 22px;
                    font-weight: 600;
                }
                & > p {
                    margin-bottom: 10px;
                    color: #3f454a;
                    i {
                        margin-right: 10px;
                        color: #969798;
                    }
                }
            }
            
            .header__stars-main {
                float: right;
                position: relative;
                top: 125px;
                ul {
                    display: inline-block;
                    margin-right: 18px;
                    li {
                        display: inline-block;
                        font-size: 22px;
                        color: #727e88;
                    }
                }

                p {
                    display: inline-block;
                    color: #727e88;
                    font-size: 14px;
                    span {
                        font-weight: 600;
                        margin-right: 10px;
                    }
                }
            }

            .header__logout-btn {
                position: absolute;
                right: 20px;
                top: 20px;
                border: 1.3px solid #007de5;
                color: #007de5;
                &:hover {
                    color: #fff;
                    background-color: #007de5;
                }
            }

            .header__upload-cover-photo-btn {
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                top: 80px;
                border-color: #d0dce7;
                color: #858f9b;
                text-transform: capitalize;
                font-weight: 400;
                font-size: 15px;
                padding: 11px 20px;
                i {
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                    margin-right: 11px;
                    color: #d0dce7;
                }

                &:hover {
                    color: #d0dce7;
                    background-color: #858f9b;
                }
            }
        }

        .header__options-main {
            padding: 0px 15px 0px 215px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            position: relative;
            .header__options-ul {
                float: left;
                li {
                    display: inline-block;
                    a {
                        display: block;
                        padding: 20px 12px;
                        text-transform: uppercase;
                        color: #41454a;
                        font-weight: 500;
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            -webkit-transform: translateX(-50%);
                            -moz-transform: translateX(-50%);
                            -o-transform: translateX(-50%);
                            -ms-transform: translateX(-50%);
                            transform: translateX(-50%);
                            width: 0;
                            height: 2px;
                            background-color: #028dfe; 
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            -ms-transition: all 0.3s;
                            transition: all 0.3s;
                        }

                        &:hover:after {
                            width: 100%;
                        }
                        &.active:after {
                            width: 100%;
                        }
                    }
                }
            }

            .header__extra-menu {
                float: left;
                margin-top: 20px;
                position: relative;
                @media screen and(min-width: 1141px) {
                    display: none;
                }
                @media screen and (max-width: 800px) and (min-width: 781px) {
                    display: none;
                }
                .button__dots {
                    border: 0;
                }
                .extra-menu__options-ul {
                    border: 1px solid #d1dce8;
                    background-color: #fff;
                    position: absolute;
                    min-width: 100px;
                    text-align: center;
                    padding: 10px;
                    border-radius: 3px;
                    & > li {
                        cursor: pointer;
                        &:not(:last-child) {
                            border-bottom: 1px solid #d1dce8;
                        }
                        &:hover {
                            opacity: 0.5;
                        }
                        padding: 5px;
                    }
                }
            }
        }
    }
}





@media screen and (max-width: 800px) {
    .wrapper {
        margin: 0px auto 70px auto;
        .header {
            background-color: transparent;
            .header__options-main {
                padding: 0 15px;
                background-color: #fff;
                // overflow-y: scroll;
                // -webkit-overflow-scrolling: touch;
                // white-space: nowrap;
                // -ms-overflow-style: none;
                // overflow: -moz-scrollbars-none;
                // &::-webkit-scrollbar {
                //     width: 0 !important;
                //     height: 0 !important;
                // }   
            }
            .header__followers {
                position: relative;
                right: initial;
                bottom: initial;
                -webkit-transform: none;
                -moz-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
                display: block;
                margin-top: 16px;
            }
            .header__user-main {
                height: initial;
                .header__stars-main {
                    float: none;
                    display: block;
                    top: 0;
                    ul {
                        li {
                            color: #1580E5;
                        }
                    }
                    p {
                        display: block;
                    }
                }
                .header__upload-cover-photo-btn {
                    display: none;
                }
                .header__logout-btn {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    border: none;
                    color: #007de5;
                    background: transparent;
                    &:hover {
                        color: #007de5;
                        background: initial;
                    }
                }
                .header__user-profile-img {
                    float: none;
                    display: block;
                    margin: 0 auto;
                    bottom: initial;
                    background-position-y: 0;
                    background-position-x: -121px;
                    background-size: 220%;
                    width: 148px;
                    height: 148px;
                    margin-bottom: 15px;
                    margin-top: 70px;
                }
                .header__user-info {
                    float: none;
                    display: block;
                    position: relative;
                    top: initial;
                    left: initial;
                    .header__user-name {
                        text-align: center;
                        margin-bottom: 22px;
                    }
                }
            }
        }
        .section {
            box-shadow: none;
            border-top: 1.2px solid #DAE4EC;
            border-bottom: 1.2px solid #DAE4EC;
            min-height: 270px;
            .section__user-info {
                min-height: 380px;
        
                    .inner-row {
                        p {
                            background-color: transparent;
                        }
                        button{
                            display: none;
                        }
                    }
                
            }
        }
    }
}