* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

body {
  background-color: #f5f8f9;
  font-family: 'Open Sans', sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.hide {
  display: none; }

button {
  border: 1.3px solid #999;
  padding: 5px 15px;
  border-radius: 3px;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer; }

.wrapper {
  width: 1200px;
  max-width: 100%;
  margin: 70px auto; }
  .wrapper .section {
    background-color: #fff;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 600px; }
    .wrapper .section > div {
      display: none;
      position: relative; }
      .wrapper .section > div h2 {
        color: #727e87;
        font-weight: 400;
        margin-bottom: 25px; }
      .wrapper .section > div.active {
        display: block; }
    .wrapper .section .section__user-info .inner-row {
      display: inline-block;
      margin-bottom: 2px; }
      .wrapper .section .section__user-info .inner-row p {
        display: inline-block;
        background-color: #f5f8f8;
        padding: 10px;
        margin-right: -4px; }
        .wrapper .section .section__user-info .inner-row p i {
          color: #a6b8c5;
          margin-right: 5px; }
      .wrapper .section .section__user-info .inner-row button {
        display: inline-block;
        border: 0;
        background-color: #ecf1f4;
        color: #727f8a;
        height: 42px;
        vertical-align: top;
        border-radius: 0;
        margin-left: -2px;
        font-size: 20px; }
        .wrapper .section .section__user-info .inner-row button:hover {
          background-color: #007ee5;
          color: #fff; }
        .wrapper .section .section__user-info .inner-row button:focus {
          background-color: #007ee5;
          color: #fff; }
    .wrapper .section .section__user-info .section__user-name p {
      font-weight: 600;
      font-size: 16px; }
    .wrapper .section .section__user-info .section__pop-up {
      position: absolute;
      padding: 20px;
      box-shadow: -2px 0 15px rgba(0, 0, 0, 0.3);
      background-color: #fff;
      z-index: 5; }
      .wrapper .section .section__user-info .section__pop-up .pop-up-title {
        text-transform: uppercase;
        margin-bottom: 5px; }
      .wrapper .section .section__user-info .section__pop-up p {
        font-size: 11px;
        color: #B8C0C4; }
      .wrapper .section .section__user-info .section__pop-up input {
        min-width: 220px;
        margin-bottom: 15px;
        border: 0;
        border-bottom: 1px solid #D3DEE9;
        font-size: 16px;
        padding: 7px 0; }
      .wrapper .section .section__user-info .section__pop-up:before {
        content: "";
        width: 18px;
        height: 18px;
        background-color: #ffffff;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        left: -8px;
        top: 21px;
        box-shadow: -4px 2px 9px rgba(0, 0, 0, 0.2); }
      .wrapper .section .section__user-info .section__pop-up:after {
        content: "";
        width: 22px;
        height: 22px;
        background-color: #ffffff;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        left: -8px;
        top: 19px; }
      .wrapper .section .section__user-info .section__pop-up .pop-up-buttons .save {
        border: 1.3px solid #007de5;
        background-color: #007de5;
        color: #fff;
        padding: 5px 21px;
        font-size: 10px;
        font-weight: 600; }
      .wrapper .section .section__user-info .section__pop-up .pop-up-buttons .cancel {
        border: 1.3px solid #007de5;
        color: #007de5;
        background-color: #fff;
        padding: 5px 21px;
        font-size: 10px;
        font-weight: 600; }
    .wrapper .section .section__user-info .mobile-form {
      position: absolute;
      background-color: #fff;
      top: 40px;
      left: 0;
      width: 100%;
      height: 95%; }
      @media screen and (min-width: 801px) {
        .wrapper .section .section__user-info .mobile-form {
          display: none; } }
      .wrapper .section .section__user-info .mobile-form label {
        display: block;
        color: #C4CACF;
        font-size: 12px; }
      .wrapper .section .section__user-info .mobile-form input {
        display: block;
        height: 15px;
        padding: 10px 0;
        font-size: 18px;
        border: 0;
        border-bottom: 1px solid #D2DDE8;
        width: 100%;
        margin-bottom: 15px; }
      .wrapper .section .section__user-info .mobile-form .mobile-form__pop-up-buttons {
        position: absolute;
        right: 0;
        top: -35px; }
        .wrapper .section .section__user-info .mobile-form .mobile-form__pop-up-buttons button {
          color: #167fe5;
          background-color: #fff;
          border: 0;
          font-weight: normal;
          padding: 0 12px;
          font-size: 12px; }
    .wrapper .section .section__user-info .mobile-edit {
      border: 0;
      background-color: #ecf1f4;
      color: #727f8a;
      vertical-align: top;
      border-radius: 0;
      margin-left: -2px;
      font-size: 17px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px 10px;
      height: 30px; }
      @media screen and (min-width: 801px) {
        .wrapper .section .section__user-info .mobile-edit {
          display: none; } }
  .wrapper .header {
    background-color: #fff;
    margin: 0 0 20px; }
    .wrapper .header .header__followers {
      position: absolute;
      right: 20px;
      bottom: -64px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 10; }
      .wrapper .header .header__followers .follower-caption {
        border: 1px solid #dfdfdf;
        background-color: #fff;
        position: absolute;
        top: -45px;
        padding: 10px;
        font-size: 14px;
        border-radius: 4px; }
      .wrapper .header .header__followers p {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        color: #a8afb5;
        font-weight: 400; }
        .wrapper .header .header__followers p .followers__number {
          color: #3f454a;
          font-size: 14px;
          font-weight: 600;
          margin-right: 2px; }
      .wrapper .header .header__followers i {
        color: #a6afb5;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        cursor: pointer;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -ms-transition: all 0.4s;
        transition: all 0.4s; }
        .wrapper .header .header__followers i:hover {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
    .wrapper .header .header__user-main {
      padding: 20px;
      height: 220px;
      position: relative; }
      .wrapper .header .header__user-main .pop-up-log {
        border: 1px solid #dfdfdf;
        background-color: #fff;
        position: absolute;
        top: 57px;
        right: 18px;
        padding: 10px;
        font-size: 14px;
        border-radius: 4px; }
      .wrapper .header .header__user-main .header__user-profile-img {
        float: left;
        width: 180px;
        height: 180px;
        background-position: top center;
        background-size: 143%;
        position: relative;
        bottom: -98px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
      .wrapper .header .header__user-main .header__user-info {
        float: left;
        position: relative;
        top: 125px;
        left: 20px; }
        .wrapper .header .header__user-main .header__user-info .header__user-name {
          font-size: 22px;
          font-weight: 600; }
        .wrapper .header .header__user-main .header__user-info > p {
          margin-bottom: 10px;
          color: #3f454a; }
          .wrapper .header .header__user-main .header__user-info > p i {
            margin-right: 10px;
            color: #969798; }
      .wrapper .header .header__user-main .header__stars-main {
        float: right;
        position: relative;
        top: 125px; }
        .wrapper .header .header__user-main .header__stars-main ul {
          display: inline-block;
          margin-right: 18px; }
          .wrapper .header .header__user-main .header__stars-main ul li {
            display: inline-block;
            font-size: 22px;
            color: #727e88; }
        .wrapper .header .header__user-main .header__stars-main p {
          display: inline-block;
          color: #727e88;
          font-size: 14px; }
          .wrapper .header .header__user-main .header__stars-main p span {
            font-weight: 600;
            margin-right: 10px; }
      .wrapper .header .header__user-main .header__logout-btn {
        position: absolute;
        right: 20px;
        top: 20px;
        border: 1.3px solid #007de5;
        color: #007de5; }
        .wrapper .header .header__user-main .header__logout-btn:hover {
          color: #fff;
          background-color: #007de5; }
      .wrapper .header .header__user-main .header__upload-cover-photo-btn {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 80px;
        border-color: #d0dce7;
        color: #858f9b;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 15px;
        padding: 11px 20px; }
        .wrapper .header .header__user-main .header__upload-cover-photo-btn i {
          font-size: 20px;
          position: relative;
          top: 2px;
          margin-right: 11px;
          color: #d0dce7; }
        .wrapper .header .header__user-main .header__upload-cover-photo-btn:hover {
          color: #d0dce7;
          background-color: #858f9b; }
    .wrapper .header .header__options-main {
      padding: 0px 15px 0px 215px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: relative; }
      .wrapper .header .header__options-main .header__options-ul {
        float: left; }
        .wrapper .header .header__options-main .header__options-ul li {
          display: inline-block; }
          .wrapper .header .header__options-main .header__options-ul li a {
            display: block;
            padding: 20px 12px;
            text-transform: uppercase;
            color: #41454a;
            font-weight: 500;
            position: relative; }
            .wrapper .header .header__options-main .header__options-ul li a:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              transform: translateX(-50%);
              width: 0;
              height: 2px;
              background-color: #028dfe;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              -o-transition: all 0.3s;
              -ms-transition: all 0.3s;
              transition: all 0.3s; }
            .wrapper .header .header__options-main .header__options-ul li a:hover:after {
              width: 100%; }
            .wrapper .header .header__options-main .header__options-ul li a.active:after {
              width: 100%; }
      .wrapper .header .header__options-main .header__extra-menu {
        float: left;
        margin-top: 20px;
        position: relative; }
        @media screen and (min-width: 1141px) {
          .wrapper .header .header__options-main .header__extra-menu {
            display: none; } }
        @media screen and (max-width: 800px) and (min-width: 781px) {
          .wrapper .header .header__options-main .header__extra-menu {
            display: none; } }
        .wrapper .header .header__options-main .header__extra-menu .button__dots {
          border: 0; }
        .wrapper .header .header__options-main .header__extra-menu .extra-menu__options-ul {
          border: 1px solid #d1dce8;
          background-color: #fff;
          position: absolute;
          min-width: 100px;
          text-align: center;
          padding: 10px;
          border-radius: 3px; }
          .wrapper .header .header__options-main .header__extra-menu .extra-menu__options-ul > li {
            cursor: pointer;
            padding: 5px; }
            .wrapper .header .header__options-main .header__extra-menu .extra-menu__options-ul > li:not(:last-child) {
              border-bottom: 1px solid #d1dce8; }
            .wrapper .header .header__options-main .header__extra-menu .extra-menu__options-ul > li:hover {
              opacity: 0.5; }

@media screen and (max-width: 800px) {
  .wrapper {
    margin: 0px auto 70px auto; }
    .wrapper .header {
      background-color: transparent; }
      .wrapper .header .header__options-main {
        padding: 0 15px;
        background-color: #fff; }
      .wrapper .header .header__followers {
        position: relative;
        right: initial;
        bottom: initial;
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        display: block;
        margin-top: 16px; }
      .wrapper .header .header__user-main {
        height: initial; }
        .wrapper .header .header__user-main .header__stars-main {
          float: none;
          display: block;
          top: 0; }
          .wrapper .header .header__user-main .header__stars-main ul li {
            color: #1580E5; }
          .wrapper .header .header__user-main .header__stars-main p {
            display: block; }
        .wrapper .header .header__user-main .header__upload-cover-photo-btn {
          display: none; }
        .wrapper .header .header__user-main .header__logout-btn {
          position: absolute;
          right: 20px;
          top: 20px;
          border: none;
          color: #007de5;
          background: transparent; }
          .wrapper .header .header__user-main .header__logout-btn:hover {
            color: #007de5;
            background: initial; }
        .wrapper .header .header__user-main .header__user-profile-img {
          float: none;
          display: block;
          margin: 0 auto;
          bottom: initial;
          background-position-y: 0;
          background-position-x: -121px;
          background-size: 220%;
          width: 148px;
          height: 148px;
          margin-bottom: 15px;
          margin-top: 70px; }
        .wrapper .header .header__user-main .header__user-info {
          float: none;
          display: block;
          position: relative;
          top: initial;
          left: initial; }
          .wrapper .header .header__user-main .header__user-info .header__user-name {
            text-align: center;
            margin-bottom: 22px; }
    .wrapper .section {
      box-shadow: none;
      border-top: 1.2px solid #DAE4EC;
      border-bottom: 1.2px solid #DAE4EC;
      min-height: 270px; }
      .wrapper .section .section__user-info {
        min-height: 380px; }
        .wrapper .section .section__user-info .inner-row p {
          background-color: transparent; }
        .wrapper .section .section__user-info .inner-row button {
          display: none; } }
